*, *::after, *::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'futura-pt' , sans-serif;
  margin: 0;
}

/* width */
::-webkit-scrollbar {
  display: none;
}

h1, h2, h3, h4, h4, h5, h6 {
  font-family: 'futura-pt', sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 700;
  font-style: normal;
  font-size: 17.5em;
}

h2 {
  font-weight: 700;
  font-style: normal;
  font-size: 8em;
}

h3 {
  font-size: 5.3em;
  font-weight: normal;
  font-weight: 700;
}

h4 {
  font-size: 1.7em;
  font-weight: 600;
}

h5 {
  font-size: 1em;
  font-weight: 500;
}

p {
  font-family: 'aktiv-grotesk', sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 140%;
  font-size: 1em;
}

.button {
  border-radius: 5px;
  border: 2px solid #ED1B24;
  padding: 1em;
  color: #ED1B24;
  width: 163px;
  text-align: center;
}

.button:hover {
  background-color: #ED1B24;
  color: white;
}

.button:focus {
  background-color: #ED1B24;
  color: white;
}

.middle {
  width: 83.125em;
  margin-left: auto;
  margin-right: auto;
}

.background-banner {
  width: 100%;
  height: 100vh;
  background-image: url("../img/smaller-bannersmall.png");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #1A163B;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.background-banner .banner-info {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding-top: 22em;
}

.background-banner .banner-info .my-title {
  line-height: 4.5em;
  padding: 0.5em 0;
  color: white;
}

.background-banner .banner-info .job-description {
  opacity: 0.6;
  color: white;
  padding: 1em 0;
}

.background-banner .banner-info .contact-me {
  text-transform: uppercase;
}

.background-banner .dropdown-arrow {
  width: 10em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  color: white;
}

.background-banner .dropdown-arrow .fas {
  color: white;
}

.spacer {
  height: 8em;
}

.piece1-with-banner {
  background-image: url("../img/ignitiontextBanner.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}

.piece1-with-banner .piece1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-bottom: 4em;
}

.piece1-with-banner .piece1 .content-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-top: 25em;
  width: 38.5em;
}

.piece1-with-banner .piece1 .content-part .project-subtitle {
  color: #666666;
}

.piece1-with-banner .piece1 .content-part .read-more-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.piece1-with-banner .piece1 .content-part .line {
  width: 14.125em;
  height: 1.375em;
  background-color: #ED1B24;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.piece1-with-banner .piece1 .image-part {
  width: 44.6em;
}

.piece2-with-banner {
  background-image: url("../img/paranoiatextBanner.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}

.piece2-with-banner .piece2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-bottom: 4em;
}

.piece2-with-banner .piece2 .content-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 25em;
  width: 44.6em;
}

.piece2-with-banner .piece2 .content-part .project-subtitle {
  color: #666666;
}

.piece2-with-banner .piece2 .content-part .read-more-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.piece2-with-banner .piece2 .content-part .line {
  width: 14.125em;
  height: 1.375em;
  background-color: #ED1B24;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.piece2-with-banner .piece2 .image-part {
  width: 45.313em;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  height: 5em;
  background-color: #1A163B;
}

.footer .my-logo {
  width: 472px;
  height: 100%;
  opacity: 0.6;
  background-image: url("../img/footerLogo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.footer .social-media {
  padding-right: 9em;
  font-size: 1.5em;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.footer .social-media .spacing {
  margin: 0 0.4em;
  opacity: 0.5;
  color: white;
}

.footer .social-media .spacing:focus {
  opacity: 1;
}

.footer .social-media .spacing:hover {
  opacity: 1;
}
