$purple: #1A163B;
$red: #ED1B24;

*, *::after, *::before{
  box-sizing: border-box;
  text-decoration: none;
}

.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 5em;
  background-color: $purple;

  .my-logo{
    width: 472px;
    height: 100%;
    opacity: 0.6;
    background-image: url("../img/footerLogo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

  }
  .social-media{
    padding-right: 9em;
    font-size: 1.5em;
    align-self: center;
    justify-content: space-around;

    .spacing{
      margin: 0 0.4em;
      opacity: 0.5;
      color: white;

      &:focus{
        opacity: 1;
        // border-bottom: 2px solid $red;
      }&:hover{
        opacity: 1;
        // border-bottom: 2px solid $red;
      }
    }
  }
}
