$purple: #1A163B;
$red: #ED1B24;

*, *::after, *::before{
  box-sizing: border-box;
  text-decoration: none;
}

html{
  scroll-behavior: smooth;
}

body {
 font-family: 'futura-pt' , sans-serif;
 margin:0;

}

/* width */
::-webkit-scrollbar {
  display: none;
}


h1,h2,h3,h4,h4,h5,h6{
font-family: 'FuturaPT', sans-serif;
margin: 0;
padding: 0;
}

h1{
  font-weight: 700;
  font-style: normal;
  font-size: 17.5em;
}

h2{
  font-weight: 700;
  font-style: normal;
  font-size: 8em;
}

h3{
 font-size: 5.3em;
 font-weight: normal;
 font-weight: 700;

}

h4{
 font-size: 1.7em;
 font-weight: 600;
}

h5{
  font-size: 1em;
  font-weight: 500;
}


p{
  font-family: 'aktiv-grotesk', sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height:140%;
  font-size: 1.2em  ;
}

.button{
  border-radius: 5px;
  border: 2px solid $red;
  padding: 1em;
  color: $red;
  width: 163px;
  text-align: center;
  &:hover{
    background-color: $red;
    color: white;
  }
  &:focus{
    background-color: $red;
    color: white;
  }
}

.middle{
  width: 83.125em;
  margin-left: auto;
  margin-right: auto;
}

.background-banner{
  width: 100%;
  // height: 67.5em;
  height: 100vh;
  background-image: url("../img/smaller-bannersmall.png");
  display: flex;
  background-color: $purple;
  background-position: right;
  background-repeat: no-repeat;
  background-size:contain;
  flex-direction: column;


  .nav-bar{
    width: 100%;
    // background-color: $red;

    .about{
      padding: 1.5em;
      padding-left: 0;

      h5{
        padding-bottom: 0.4em;
        border-bottom: 2px solid white;
        width : 2em;
        color: white;

        &:focus{
          color: $red;
          border-bottom: 2px solid $red;
        }&:hover{
          color: $red;
          border-bottom: 2px solid $red;


        }
      }
    }

  }

  .banner-info{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    // background-color: green;
    padding-top: 22em;
    // padding-bottom: 16em;

    .my-title{
      // background-color: white;
      line-height: 4.5em;
      padding: 0.5em 0;
      color: white;
    }
    .job-description{
      // background-color: yellow;
      opacity: 0.6;
      color: white;
      padding: 1em 0;
    }
    .contact-me{
      text-transform: uppercase;
    }
  }

  .dropdown-arrow{
    width: 10em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    color: white;
    .fas{
      color: white;
    }
  }
}

.spacer{
  height: 8em;
}
.piece1-with-banner{
  background-image: url("../img/ignitiontextBanner.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size:contain;
  .piece1{
    display: flex;
    flex-direction: row;
    margin-bottom: 4em;


    .content-part{
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding-top: 25em;
      width: 38.5em;
      // border: 1px solid black;

      .project-subtitle{
        color: #666666;
      }
      .read-more-line{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

      }
      .line{
        width: 14.125em;
        height: 1.375em;
        background-color: $red;
        align-self: flex-end;

      }
    }

    .image-part{
      width: 44.6em;
      // border: 1px solid black;

    }
  }
}

.piece2-with-banner{
  background-image: url("../img/paranoiatextBannersmall.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size:contain;
  .piece2{
    display: flex;
    flex-direction: row;
    margin-bottom: 4em;

    .content-part{
      display: flex;
      flex-direction: column;
      // align-items: flex-end;
      padding-top: 25em;
      // border: 1px solid black;
      width: 44.6em;

      .project-subtitle{
        color: #666666;
      }
      .read-more-line{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

      }
      .line{
        width: 14.125em;
        height: 1.375em;
        background-color: $red;
        align-self: flex-end;

      }
    }

    .image-part{
      width: 45.313em;
      // border: 1px solid black;

    }
  }
}


.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 68px;
  background-color: $purple;

  .my-logo{
    width: 472px;
    height: 100%;
    opacity: 0.6;
    background-image: url("../img/footerLogo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

  }
  .social-media{
    padding-right: 9em;
    font-size: 1.5em;
    align-self: center;
    justify-content: space-around;

    .spacing{
      margin: 0 0.4em;
      opacity: 0.5;
      color: white;

      &:focus{
        opacity: 1;
        // border-bottom: 2px solid $red;
      }&:hover{
        opacity: 1;
        // border-bottom: 2px solid $red;
      }
    }
  }
}

.cross{
  a{
    position: fixed;
    padding: 2em 4em;
    bottom: 20px;
    left: 30px;
    z-index: 99;
    font-size: 0.7em;
    border: $red solid 2px;
    color: $red;
    border-radius: 4px;
    &:focus{
      background-color: $red;
      color: white;
    }&:hover{
      background-color: $red;
      color: white;
    }
  }

}

.video-banner{
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin-bottom: 3em;

  .video{
    width: 100%;
    height: 100%;
    background-image: url("../img/igntionBanner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .dropdown-arrow{
    position: absolute;
    bottom: 1em;
    left: 50%;
    width: 10em;
    margin-left: auto;
    margin-right: auto;

    .fas{
      color: white;
      opacity: 0.6;
    }
  }
}
.page-title{
  display: flex;
  flex-direction: column;

  .project-description{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .teams-roles-tools{
      display: flex;
      flex-direction:row;

      .list{
        margin-left: 2em;
      }
      .arrange{
        margin-bottom: 1em;
        display: flex;
        flex-direction: row;
      }

      .teams-tools{
        margin-left: 2em;
      }
    }

  }

}
