$purple: #1A163B;
$red: #ED1B24;

*, *::after, *::before{
  box-sizing: border-box;
  text-decoration: none;
}

html{
  scroll-behavior: smooth;
}

body {
 font-family: 'futura-pt' , sans-serif;
 margin:0;

}

::-webkit-scrollbar {
  display: none;
}


h1,h2,h3,h4,h4,h5,h6{
font-family: 'futura-pt', sans-serif;
margin: 0;
padding: 0;
}

h1{
  font-weight: 700;
  font-style: normal;
  font-size: 7em;
}

h2{
  font-weight: 700;
  font-style: normal;
  line-height: 0.8em;
  font-size: 7em;
}

h3{
 font-size: 5.3em;
 font-weight: normal;
 font-weight: 700;

}

h4{
 font-size: 1.7em;
 font-weight: 600;
}

h5{
  font-size: 1em;
  font-weight: 500;
}


p{
  font-family: 'aktiv-grotesk', sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height:140%;
  font-size: 1em  ;
}

.button-about{
  border-radius: 5px;
  border: 2px solid $red;
  padding: 1em;
  color: $red;
  background-color: $purple;
  width: 163px;
  text-align: center;
  &:hover{
    background-color: $red;
    color: white;
  }
  &:focus{
    background-color: $red;
    color: white;
  }
}

.button{
  border-radius: 5px;
  border: 2px solid $red;
  padding: 1em;
  color: $red;
  width: 163px;
  text-align: center;
  &:hover{
    background-color: $red;
    color: white;
  }
  &:focus{
    background-color: $red;
    color: white;
  }
}

.middle{
  max-width: 83.125em;
  margin-left: auto;
  margin-right: auto;
}

.background-banner{
  width: 100%;
  // height: 67.5em;
  height: 100vh;
  background-image: url("../img/smaller-bannersmall.png");
  display: flex;
  background-color: $purple;
  background-position: right;
  background-repeat: no-repeat;
  background-size:cover;
  flex-direction: column;


  .banner-info{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15em;

    // background-color: green;
    // padding-bottom: 16em;

    .my-title{
      // background-color: white;
      line-height: 4.5em;
      padding: 0.5em 0;
      color: white;
    }
    .job-description{
      // background-color: yellow;
      opacity: 0.6;
      color: white;
      padding: 1em 0;
    }

    a{
      width: 10.2em;

      .contact-me{
        text-transform: uppercase;
      }
    }



  }

  .dropdown-arrow{
    width: 10em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    color: white;
    .fas{
      color: white;
    }
  }
}

.spacer{
  height: 8em;
}
.piece1-with-banner{
  background-image: url("../img/ignitiontextBanner.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  .piece1{
    display: flex;
    flex-direction: row;
    margin-bottom: 4em;


    .content-part{
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      max-width: 38.5em;
      // border: 1px solid black;

      .project-subtitle{
        color: #666666;
      }
      .read-more-line{
        display: flex;
        flex-direction: row;
        justify-content: space-between;


        .line{
          width: 14.125em;
          height: 1.375em;
          background-color: $red;
          align-self: flex-end;

        }
      }
    }

    .image-part{
      max-width: 44.6em;
      img{
        width: 100%;
        height: auto;
      }

    }
  }
}

.piece2-with-banner{
  background-image: url("../img/paranoiatextBanner.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  .piece2{
    display: flex;
    flex-direction: row;
    margin-bottom: 4em;

    .content-part{
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      max-width: 38.5em;

      .project-subtitle{
        color: #666666;
      }
      .read-more-line{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

      }
      .line{
        width: 14.125em;
        height: 1.375em;
        background-color: $red;
        align-self: flex-end;

      }
    }

    .image-part{
      max-width: 45.313em;
      img{
        width: 100%;
        height: auto;
      }

    }
  }
}

@media (max-width:1440px){
  h1{
    font-size: 17.5em;
  }

  h2{
    font-size: 5em;
  }

  h3{
   font-size: 4em;

  }

  h4{
   font-size: 1.2em;
  }

  h5{
    font-size: 1em;
  }

  .middle{
    margin-left: 1em;
    margin-right: 1em;
  }
}


@media (max-width:900px) {
  .piece1-with-banner .piece1 .content-part .read-more-line .line {
    width: 8em;
    height: 1em;
  }

  .piece2-with-banner .piece2 .content-part .line {
    width: 8em;
    height: 1em;
  }

  .background-banner .banner-info{
    margin-left: 3em;
  }
}

@media (max-width: 750px) {

  .piece1-with-banner {
    background-position: left;
  }

  .piece1-with-banner .piece1 {
    flex-direction: column;
  }

  .piece1-with-banner .piece1 .image-part {
    order: 1;
  }
  .piece1-with-banner .piece1 .content-part {
    order: 2;
  }

  .piece2-with-banner .piece2 {
    flex-direction: column;
  }

}

@media (max-width:425px) {

  h1{
    font-size: 14em;
  }

  h2{
    font-size: 4em;
  }
  .background-banner .banner-info{
    margin-left: 1em;
  }
}

@media (max-width:344px) {

  h1{
    font-size: 11em;
  }

  h2{
    font-size: 3em;
  }

  .piece1-with-banner .piece1 .content-part .read-more-line .line {
    display: none;
  }

  .piece2-with-banner .piece2 .content-part .line {
    display: none;
  }
}
