$purple: #1A163B;
$red: #ED1B24;

*, *::after, *::before{
  box-sizing: border-box;
  text-decoration: none;
}

.cross{
  a{
    position: fixed;
    padding: 2em 4em;
    top: 2em;
    right: 2em;
    z-index: 99;
    font-size: 0.7em;
    border: $red solid 2px;
    background-color: white;
    color: $red;
    border-radius: 4px;
    &:focus{
      background-color: $red;
      color: white;
    }&:hover{
      background-color: $red;
      color: white;
    }
  }

}

.video-banner{
  position: relative;
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  margin-bottom: 3em;

  .video{
    width: 100%;
    height: 100%;
    background-image: url("../img/ParanoiaBanneredited.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .dropdown-arrow{
    position: absolute;
    bottom: 1em;
    left: 50%;
    width: 10em;
    margin-left: auto;
    margin-right: auto;

    .fas{
      color: white;
      opacity: 0.6;
    }
  }
}

.page-content{
  .page-title{
    display: flex;
    flex-direction: column;

    .title{
      border-bottom: 7px solid $red;
      margin-bottom: 2em;
    }

    .project-description{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border-bottom: 3px solid $red;

      .teams-roles-tools{
        display: flex;
        flex-direction:row;

        .list{
          margin-left: 2em;
        }
        .arrange{
          margin-bottom: 1em;
          display: flex;
          flex-direction: row;
        }

        .teams-tools{
          margin-left: 2em;

          .about-teams{
            margin-left: 1.5em;
          }
        }
      }

    }

  }
}



.page-content{
  .page-title{
    display: flex;
    flex-direction: column;

    .title{
      border-bottom: 7px solid $red;
      margin-bottom: 2em;
    }

    .project-description{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border-bottom: 3px solid $red;

      .teams-roles-tools{
        display: flex;
        flex-direction:row;

        .list{
          margin-left: 2em;
        }
        .arrange{
          margin-bottom: 1em;
          display: flex;
          flex-direction: row;
        }

        .teams-tools{
          margin-left: 2em;

          .about-teams{
            margin-left: 1.5em;
          }
        }
      }

    }

  }

  .section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 1em;
    margin-top: 132px;
    .title-and-copy{
      display: flex;
      flex-direction: column;
      .section-title{
        border-bottom: 2px solid $red;
      }
    }
  }
}

.project-context{
  width: 50%;
}
.pre-production{
  width: 35%;
}
.production{
  width: 35%;
}
.post-production{
  width: 35%;
}
.image-gallery{
  width: 60%;
  background-color: yellow;
}
.extended{
  height: 25em;
}

.yt-video{
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
  margin-bottom: 3em;
  .yt-video-iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}
