$purple: #1A163B;
$red: #ED1B24;

*, *::after, *::before{
  box-sizing: border-box;
  text-decoration: none;
}

.cross{
  a{
    position: fixed;
    padding: 2em 4em;
    top: 2em;
    right: 2em;
    z-index: 99;
    font-size: 0.7em;
    border: $red solid 2px;
    background-color: white;
    color: $red;
    border-radius: 4px;
    &:focus{
      background-color: $red;
      color: white;
    }&:hover{
      background-color: $red;
      color: white;
    }
  }

}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: justify;
}

.gap{
  margin-top: 3em;
  margin-bottom: 3em;
}
.border-line{
  border-top: 3px solid $red;
}
.styleguide-page{
  .styleguide-references{
    display: flex;
    flex-direction: row;
    a{
      margin-right: 1em;
    }
  }

  .color-box{
    display: flex;
    flex-direction: row;
    .red{
      padding: 1em;
      width: 10em;
      height: 15em;
      background-color: $red;
      color: white;
      margin: 0.5em;
    }
    .purple{
      padding: 1em;
      width: 12em;
      height: 15em;
      background-color: $purple;
      color: white;
      margin: 0.5em;
    }
  }
}
